@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");

:root {
  --strong-cyan: hsl(171, 66%, 44%);
  --light-blue: hsl(233, 100%, 69%);
  --dark-grayish-blue: hsl(210, 10%, 33%);
  --grayish-blue: hsl(201, 11%, 66%);
}

/* Global styles */

body {
  font-family: "Bai Jamjuree", Tahoma, Geneva, Verdana, sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Styles affecting individual sections or elements on the page */

header {
  background-image: linear-gradient(
      to top,
      rgba(255, 255, 255, 255),
      rgba(255, 255, 255, 0)
    ),
    url(../images/bg-header-desktop.png);
  background-repeat: no-repeat;
  height: 28vh;
  position: relative;
}

header > img {
  position: absolute;
  top: calc(65% - 62px);
  left: calc(50% - 62px);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
