@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");

:root {
  --strong-cyan: hsl(171, 66%, 44%);
  --light-blue: hsl(233, 100%, 69%);
  --dark-grayish-blue: hsl(210, 10%, 33%);
  --grayish-blue: hsl(201, 11%, 66%);
  --margin-p: 30vw;
}

/* Global styles */

body {
  font-family: "Bai Jamjuree", Tahoma, Geneva, Verdana, sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  text-align: center;
}

h1,
h2,
h3 {
  font-weight: 600;
}

p {
  color: var(--grayish-blue);
  font-weight: 400;
  margin: auto var(--margin-p);
}

/* Styles affecting individual sections or elements on the page */

/* Header */

header {
  background-image: linear-gradient(
      to top,
      rgba(255, 255, 255, 255),
      rgba(255, 255, 255, 0)
    ),
    url(../images/bg-header-desktop.png);
  background-repeat: no-repeat;
  height: 28vh;
  position: relative;
}

header > img {
  position: absolute;
  top: calc(65% - 62px);
  left: calc(50% - 62px);
}

/* Hero section */

section:first-of-type div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
}

article button {
  margin: auto 10px;
  border: none;
  color: white;
  font-weight: 600;
  background-color: var(--strong-cyan);
  border-radius: 29px;
  padding: 16px 25px;
  box-shadow: 0px 3px 0px hsl(171, 66%, 38%),
    -5px 20px 20px -20px hsl(171, 66%, 38%);
}

article button:nth-of-type(2) {
  background-color: var(--light-blue);
  box-shadow: 0px 3px 0px hsl(233, 100%, 60%),
    -5px 20px 20px -20px hsl(233, 100%, 60%);
}

/* Keep track -section */

article > section:nth-of-type(2) {
  margin-top: 10vh;
}

/* Computer section */

article > section:nth-of-type(3) {
  display: grid;
  overflow: hidden;
  position: relative;
  grid-auto-rows: 13vh;
  grid-auto-columns: 50vw;
  grid-template-areas:
    "img p1"
    "img p2"
    "img p3"
    ".   . ";
  margin-top: 6vh;
}

section:nth-of-type(3) > img {
  position: absolute;
  grid-area: img;
  width: 50vw;
  left: -2vw;
}

section:nth-of-type(3) > section {
  position: relative;
}

section:nth-of-type(3) > section:first-of-type {
  grid-area: p1;
}

section:nth-of-type(3) > section:nth-of-type(2) {
  grid-area: p2;
}

section:nth-of-type(3) > section:nth-of-type(3) {
  grid-area: p3;
}

section:nth-of-type(3) > section > h2 {
  text-align: left;
}

section:nth-of-type(3) > section p {
  margin: 0;
  padding-right: 25vw;
  text-align: left;
}

/* Devices section */

section:nth-of-type(4) {
  margin-top: 10vh;
}

section:nth-of-type(4) img {
  margin-left: calc(50% - 452px);
  padding-top: 5vh;
}

/* Features section */

section:nth-of-type(5) > article {
  margin-bottom: 4vh;
}

section:nth-of-type(5) > ul {
  display: flex;
  justify-content: space-evenly;
  padding-right: 40px;
}

section:nth-of-type(5) > ul > li:first-child img {
  height: 32px;
  margin-left: calc(50% - 18px);
}

section:nth-of-type(5) > ul > li:nth-child(2) img {
  margin-left: calc(50% - 18px);
}

section:nth-of-type(5) > ul > li:nth-child(3) img {
  margin-left: calc(50% - 25px);
}

section:nth-of-type(5) > ul p {
  margin: 0;
  width: 25vw;
}

/* Company logo section */

aside {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 12vh 0;
}

aside img:nth-child(3),
aside img:nth-child(5) {
  height: 40px;
}

/* Download section */

article:nth-of-type(2) > div {
  display: flex;
  justify-content: center;
  margin-top: 4vh;
}

/* Footer */

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
