$images_location_y: 295px;

.card__images {
  overflow: hidden;
  flex: 1;
}

.woman-online {
  position: relative;
  right: 80px;
  bottom: $images_location_y * 2.95;
  z-index: 1;
}

.woman-online--mobile {
  display: none;
}

.bg-pattern {
  position: relative;
  right: 572px;
  bottom: $images_location_y;
}

.card__box {
  position: absolute;
  top: 36%;
  transform: translateX(-54%);
  z-index: 2;
}

@media only screen and (max-width: 900px) {
  .card__box,
  .woman-online,
  .bg-pattern {
    display: none;
  }

  .bg-pattern--mobile {
    display: block;
    max-width: 20rem;
    margin: 0 auto;
    transform: translateY(-5%);
    flex: 1;
  }

  .woman-online--mobile {
    display: block;
    max-width: 15rem;
    position: absolute;
    left: calc(50% - 120px);
    top: -112px;
  }
}
