$images_location_y: 295px;

.images {
  overflow: hidden;
  flex: 1;
}

.woman-online {
  position: relative;
  right: 80px;
  bottom: $images_location_y * 2.95;
  z-index: 1;
}

.bg-pattern {
  position: relative;
  right: 572px;
  bottom: $images_location_y;
}

