%text_body {
  font-weight: 400;
  font-size: 1.2rem;
}

body {
  font-family: "Kumbh Sans", sans-serif;
}

.card {
  background: white;
}

.accordion {
  max-width: 400px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0);
  list-style: none;
}

.accordion__label {
  @extend %text_body;
  display: block;
  color: hsl(238, 29%, 16%);
  cursor: pointer;
  position: relative;
  transition: background 0.1s;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    width: 12px;
    height: 6px;
    background-image: url("images/icon-arrow-down.svg");
    background-repeat: no-repeat;
    background-size: contain;
    transition: transform 0.4s;
  }
}

.accordion__content {
  @extend %text_body;
  display: none;
}

.accordion__input {
  display: none;
}
