$font_size: 1.2rem;

%text_body {
  font-weight: 400;
  font-size: $font_size;
}

%text_title {
  font-weight: 700;
  font-size: $font_size;
}

html {
  height: 100%;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  position: relative;
  height: 400px;
}

.card {
  display: flex;
  position: absolute;
  top: 90%;
  left: 10%;
  background-color: white;
  border-radius: 15px;
  width: 80%;
  box-shadow: 0 25px 20px rgb(0, 0, 0, 0.2);
}

.accordion {
  width: 500px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0);
  list-style: none;
  padding-left: 0;
}

.accordion__label {
  @extend %text_body;
  display: block;
  color: hsl(238, 29%, 16%);
  cursor: pointer;
  position: relative;
  transition: background 0.1s;
  padding: 0.5rem 0 0.5rem 0;
  margin-right: 1rem;

  &:hover {
    @extend %text_title
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    width: 10px;
    height: 7px;
    background-image: url("images/icon-arrow-down.svg");
    transition: transform 0.2s;
  }
}

.accordion__content {
  @extend %text_body;
  display: none;
}

.accordion__input {
  display: none;

  &:checked ~ .accordion__content {
    display: block;
  }

  &:checked ~ .accordion__label::after {
    transform: translateY(-50%) rotate(180deg);
  }
}

.divider {
  border: 1px solid hsl(240, 5%, 91%);
}
