p, a, li {
  font-size: 15px;
}

@mixin font-style-body {
  font-family: "Alata", sans-serif;
  font-weight: 400;
}

@mixin font-style-heading {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
}

@mixin general-horizontal-padding {
  padding-left: 9vw;
  padding-right: 9vw;
}

@mixin custom-underline {
  &:hover::after {
    display: block;
    content: '';
    width: 50%;
    height: 2px;
    background: white;
    margin-left: 25%;
    margin-top: 0.5rem;
  }

  &:focus {
    font-weight: bold;
  }
}

$color-dark-gray: hsl(0, 0%, 55%);
$color-very-dark-gray: hsl(0, 0%, 41%);