@import "general";

.hero-section {
  background-image: url("./images/desktop/image-hero.jpg");
  background-size: cover;
  @include general-horizontal-padding;
  padding-top: 4rem;
  padding-bottom: min(10rem, 50vh);

  @media (max-width: 600px) {
    background-image: url("./images/mobile/image-hero.jpg");
  }
}

.hero-section__title {
  @include font-style-heading;
  color: white;
  text-transform: uppercase;
  outline: 2px solid white;
  font-size: clamp(2rem, 4vw, 10vw);
  max-width: 35vmax;
  padding: 1rem;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 6rem;
}

.navbar__links {
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navbar__link {
  color: white;
  text-decoration: none;
  @include font-style-body;
  @include custom-underline;
}