@import "general";

.vr-section {
  @include general-horizontal-padding;

  display: flex;
  align-items: center;
  position: relative;
  margin: 10rem 0;

  @media (max-width: $breakpoint-md) {
    flex-direction: column;
  }
}

.vr-section__header {
  position: absolute;
  background-color: white;
  right: 9vw;
  bottom: -1px;
  max-width: 35rem;
  padding-left: 5rem;
  padding-top: 3rem;

  @media (max-width: $breakpoint-md) {
    position: initial;
    padding: 0;
  }
}

.vr-section__title {
  @include font-style-heading;

  text-transform: uppercase;
  font-size: max(2rem, 3vw);

  @media (max-width: $breakpoint-md) {
    text-align: center;
  }
}

.vr-section__text {
  @include font-style-body;

  color: $color-dark-gray;
  line-height: 1.6;
  margin-bottom: 0;

  @media (max-width: $breakpoint-md) {
    text-align: center;
  }
}

.vr-section__image {
  max-width: 100%;
  height: auto;
}