@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

:root {
  --nav-bar-white: rgba(100%, 100%, 100%, 80%);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Overpass", Tahoma, Geneva, Verdana, sans-serif;
}

ul {
  list-style: none;
}

/* Used to align all text content (and buttons) on the page */
.default-margins {
  width: 90%;
  max-width: 1024px;
  margin: auto;
}

.header {
  background-color: hsl(356, 100%, 66%);
  background-image: url("images/bg-pattern-intro.svg");
  background-size: cover;
  background-position: center;
}

/* Navbar */

nav {
  display: flex;
  position: relative;
  align-items: center;
  padding: 5vh 0;
}

nav ul li button {
  font-family: "Ubuntu", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}

ul.main-menu {
  display: flex;
  margin-left: 1vw;
}

ul.main-menu button {
  margin-left: 2vw;
  border: none;
  text-align: center;
  background: none;
  color: var(--nav-bar-white);
}

.dropdown-menu {
  display: none;
}

ul.login-buttons {
  display: flex;
  position: absolute;
  right: 0;
}

ul.login-buttons li button {
  margin-left: 4vw;
  padding-right: 5vw;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
